.table-wrapper {
    width: 100%;
    overflow-x: auto;
  }
  
.scrollable-table th, .scrollable-table td {
    padding: 8px;
    border: 1px solid #ddd;
    
  }

.table{
    display: block;
    overflow: hidden;
    table-layout: fixed;
    border-collapse: collapse;
    box-shadow: 0px 10px 10px #bdbaba;
    border-radius: 10px;
    white-space: nowrap;
    width:100%;
    max-width: 100%;
    margin:auto;
    overflow-x:auto ;
}